// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

// Pages
// Homepage
.nft__hero {
  background: linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(238,197,43,0.3) 100%);
  clip-path: ellipse(135% 100% at 50% 0%);
}

// Components
.nft__select-box {
  &--current {
    position: relative;
    cursor: pointer;
    outline: none;

    &:focus {
      & + .nft__select-box--list {
        opacity: 1;
        animation-name: none;

        .nft__select-box--option {
          cursor: pointer;
        }
      }

      .nft__select-box--icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &--icon {
    transform: translateY(-50%);
    transition: 0.2s ease;
  }

  &--input {
    display: none !important;

    &:checked + .nft__select-box--input-text {
      display: block;
    }
  }

  &--input-text {
    display: none;
  }

  &--list {
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
  }

  &--option {
    display: block;
  }
}

.nft__active-menu-link {
  .active {
    color: #202225;
    font-weight: 600;
  }
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #F0CE14 !important;
  border-color: #F0CE14 !important;
}

.flatpickr-day.inRange {
  -webkit-box-shadow: -5px 0 0 #EFEFEF, 5px 0 0 #EFEFEF !important;
  box-shadow: -5px 0 0 #EFEFEF, 5px 0 0 #EFEFEF !important;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  background: #EFEFEF !important;
  border-color: #EFEFEF !important;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

